@import '../../../styles/common';
@import '../../../styles/extends/flex';

.root {
    margin-top: 50px;
}

.outterContainer {
    @extend .flex-column;
}

.title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.text {
    font-weight: 400;
    margin-bottom: 20px;
}

.label {
    font-size: 16px;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
}

.innerContainer {
    @extend .flex-row;
    margin-bottom: 30px;
}

.button {
    max-width: 300px;
}

.input {
    min-width: 250px;
}
