@import '../../../styles/common.scss';

.root {
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $black-color;
    display: none;
}

.visible {
    display: block;
}

.vast {
    position: fixed;
    width: 100%;
    height: 100%;
}
