.header {
    position: relative;
}

.logout {
    line-height: 22px;
    position: absolute;
    top: 0;
    right: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 14px;
}
