$white-color: #fff;
$black-color: #000;
$green-color: #008744;
$light-green-color: #5cb85c;
$blue-color: #3b589b;
$sky-blue-color: #42A5F5;

$red-extra-light-color: #fdefee;
$red-color: #d62d20;
$yellow-color: #ffa700;

$cyan-dark-color: #00bcd4;
$cyan-middle-color: #80deea;
$cyan-super-dark-color: #04bdd4;

$gray-color: #999;
$gray-extra-light-color: #f1f1f1;
$gray-light-color: #e0e0e0;
$gray-dark-color: #707070;
$gray-extra-dark-color: #444;

$coral-color: #ff6053;
$marsh-color: #ababab;
