@import '../../../styles/extends/typography.scss';
@import '../../../styles/extends/flex.scss';
@import '../../../styles/common.scss';

.link {
    @extend .unselectable;
    line-height: 40px;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
}

.linkWrapper {
    padding: 0 10px 0 10px;

    &:first-child {
        padding-left: 0;
    }
}

.sublink {
    @extend .unselectable;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 10px;
    display: inline-block;
}


.sublinkWrapper {
    padding: 0 10px 0 10px;
}

.sublinksWrapper {
    background-color: $gray-extra-light-color;
}


.sublinks {
    @extend .flex-row;
}
